<div class="bg-intro">

  <div class="intro container">

    <div class="intro-column intro-left">

      <img src="assets/images/reniec-logo.png" class="logo" alt="Logo RENIEC"/>
      <h1>PLATAFORMA ELECTRÓNICA DE SOLICITUDES PARA REGISTRADORES CIVILES</h1>
      <div class="optional">
        <p>Esta Plataforma permite canalizar la presentación de solicitudes de registro de firma y solicitud de requerimiento de libros de actas registrales a fin de automatizar y optimizar el tiempo en la presentación de los documentos.</p>
<!--        <p><mat-icon fontSet="fas" fontIcon="fa-circle-info"></mat-icon>Importante | Ayuda | Consultas</p>-->
      </div>

    </div>

    <div class="intro-column intro-right">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>
