<form [formGroup]="form">
  <mat-card>

    <mat-card-title>
      {{dataDialog.title}}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div class="row">
        <div class="col-sm-12 col-md-12 p-0 mb-2">
          <label>Usuario:</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="usuario" type="text" placeholder="Ingresar" autocomplete="off">
            <mat-error *ngIf="form.get('usuario')?.invalid">{{utilService.getErrorMessage(form,'usuario')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 p-0 mb-2">
          <label>Ingresar Contraseña Anterior:</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="claveAnterior" type="password" placeholder="Ingresar" autocomplete="off">
            <mat-error *ngIf="form.get('claveAnterior')?.invalid">{{utilService.getErrorMessage(form,'claveAnterior')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 p-0 mb-2">
          <label>Ingresar Nueva Contraseña:</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="claveNueva" type="password" placeholder="Ingresar" autocomplete="off">
            <mat-error *ngIf="form.get('claveNueva')?.invalid">{{utilService.getErrorMessage(form,'claveNueva')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 p-0 mb-2">
          <label>Reingresar Nueva Contraseña:</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput formControlName="confirmaClaveNueva" type="password" placeholder="Ingresar" autocomplete="off">
            <mat-error *ngIf="form.get('confirmaClaveNueva')?.invalid">{{utilService.getErrorMessage(form,'confirmaClaveNueva')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button tabindex="-1" mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
      <button tabindex="-1" mat-flat-button color="accent" (click)="confirm()">Aceptar</button>
    </mat-card-actions>

  </mat-card>
</form>
