.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
/*  height: 100vh;*/
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px; /* Ajusta el ancho máximo del modal según tu preferencia */
  width: 100%;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.button-container {
  margin-top: 20px;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
  margin-right: 10px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}
