.mat-card {
  background-color: #f7f7f7;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}
mat-card #dniApellidoModal {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

mat-card-heade #dniApellidoModalr {
    justify-content: center;
}

mat-form-field #dniApellidoModal {
    width: 100%;
}
