<a [routerLink]="environment.URL_MENU">
  <mat-card class="card-button-intro light">
    <mat-card-content>
      <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>
      <h4>Usuario Externo</h4>
      <span>Ingresar</span>
    </mat-card-content>
  </mat-card>
</a>
<a [routerLink]="environment.URL_LOGIN">
  <mat-card class="card-button-intro dark">
    <mat-card-content>
      <mat-icon fontSet="fas" fontIcon="fa-user-tie"></mat-icon>
      <h4>Usuario RENIEC</h4>
      <span>Ingresar</span>
    </mat-card-content>
  </mat-card>
</a>
