button:first-child {
  margin-right: 8px;
}
.example-container {
  overflow-x: auto;
}

.row {
  align-items: center;
}
.custom-search-buttons {
  display: flex;
  align-items: center;
}
.custom-search-buttons button {
  padding: 2px 15px;
}
h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #00335E;
}

mat-header-row.mat-header-row {
  background-color: #E5E5E5;
  width: 100%;
}
.mat-header-cell {
  font-weight: 600;
  font-size: .9rem;
  color: #000;
  text-align: center;
}
mat-cell.mat-cell {
  font-style: normal;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

button.button-custom-search {
  line-height: 40px;
  margin-top: 5px;
}

.mat-column-nroSolicitud {
  padding: 0 15px;
  justify-content: center;
}
.mat-column-fechaRegistro,
.mat-column-fechaRecepcion,
.mat-column-fechaAsignacion,
.mat-column-solicitante,
.mat-column-docAtencion,
.mat-column-fechaAtencion {
  padding: 7px;
  justify-content: center;
}
.mat-column-tipoRegistro {
  width: 22px;
  padding: 2px;
  justify-content: center;
}
.mat-column-oficinaAutorizada,
.mat-column-analistaAsignado {
  padding: 7px;
  justify-content: center;
}
.mat-column-estado {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;

}

.custom-row {
  display: flex;
  align-items: center;
}

//CUSTOM MAT-ICON
.mat-icon {
  margin-right: inherit;
}

// CUSTOM MAT ICON BUTTONS
.mat-column-acciones button {
  //font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.mat-column-acciones .mat-icon-button {
  line-height: 0;
}
// END - CUSTOM MAT ICON BUTTONS

.custom-padding-bottom {
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  button.button-custom-search {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  mat-cell:nth-of-type(1):before {content: "N° Solicitud";}
  mat-cell:nth-of-type(2):before {content: "Fecha Trámite";}
  mat-cell:nth-of-type(3):before {content: "Tipo Registro";}
  mat-cell:nth-of-type(4):before {content: "Oficina Autorizada";}
  mat-cell:nth-of-type(5):before {content: "Fecha Recepción";}
  mat-cell:nth-of-type(6):before {content: "Fecha Asignación";}
  mat-cell:nth-of-type(7):before {content: "Fecha Atención";}
  mat-cell:nth-of-type(8):before {content: "Analista Asignado";}
  mat-cell:nth-of-type(9):before {content: "Estado";}
  mat-cell:nth-of-type(10):before {content: "Seleccionar";}
  mat-cell:nth-of-type(11):before {content: "";}
}
