<div class="row mb-3">
  <div class="col-12">
    <app-validacion-datos #formValidacionDatos></app-validacion-datos>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <app-datos-oficina-autorizada
      #formDatosOficinaAutorizada
    ></app-datos-oficina-autorizada>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button tabindex="-1" mat-stroked-button color="accent" (click)="back()">
      Regresar
    </button>
    <button
      tabindex="-1"
      mat-flat-button
      color="accent"
      (click)="verificar()"
      class="mx-2"
    >
      Iniciar
    </button>
    <!-- <button
      tabindex="-1"
      mat-flat-button
      color="accent"
      [disabled]="!verificacionRealizada"
      (click)="consultarPorReg()"
    >
      Siguiente
    </button> -->
  </div>
</div>
