<app-validacion-datos
  #formValidacionDatos
  [paraRegistroLibro]="true"
  (codigoOrec)="getOficina($event)"
></app-validacion-datos>

<div class="row">
  <app-recaptcha (resolveEvent)="resolveCaptcha($event)"></app-recaptcha>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button tabindex="-1" mat-stroked-button color="accent" (click)="back()">
      Regresar
    </button>
    <button
      tabindex="-1"
      mat-flat-button
      color="accent"
      (click)="start()"
      [disabled]="!noSoyRobot"
      class="mx-2"
    >
      Iniciar
    </button>
  </div>
</div>
