<div class="row mb-3">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="left">
          <p>Validación de Datos</p>
        </div>
        <div class="right">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-sm-12 col-md-4 mb-2">
                <label>DNI: <span>(*)</span></label>
                <mat-form-field appearance="outline" class="w-100">
                  <div *ngIf="isExternal">
                    <input
                      matInput
                      formControlName="nroDni"
                      placeholder="Ingresar"
                      autocomplete="off"
                      pattern="[0-9]{8}"
                      maxlength="8"
                      (input)="onInput($event, 8)"
                    />
                  </div>
                  <div *ngIf="!isExternal">
                    <div *ngIf="!paraRegistroLibro">
                      <input
                        matInput
                        formControlName="nroDni"
                        placeholder="Ingresar"
                        autocomplete="off"
                        pattern="[0-9]{8}"
                        maxlength="8"
                        (input)="onInput($event, 8)"
                      />
                    </div>
                    <div *ngIf="paraRegistroLibro">
                      <input
                        matInput
                        formControlName="nroDni"
                        placeholder="Ingresar"
                        autocomplete="off"
                        pattern="[0-9]{8}"
                        maxlength="8"
                        (input)="onInput($event, 8)"
                      />
                    </div>
                  </div>
                  <mat-error *ngIf="form.get('nroDni')?.invalid">{{
                    utilService.getErrorMessage(form, "nroDni")
                  }}</mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-12 col-md-4 mb-2" *ngIf="isExternal">
                <label>Dígito de Verificación: <span>(*)</span></label>
                <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    formControlName="digito"
                    type="number"
                    placeholder="Ingresar"
                    autocomplete="off"
                    (input)="onInput($event, 1)"
                  />
                  <!-- <input
                    matInput
                    formControlName="digito"
                    type="number"
                    placeholder="Ingresar"
                    autocomplete="off"
                    maxlength="1"
                  /> -->
                </mat-form-field>
              </div>

              <div class="col-sm-12 col-md-4 mb-2" *ngIf="isExternal">
                <label>Fecha de Emisión del DNI: <span>(*)</span></label>
                <mat-form-field appearance="outline" class="w-100">
                  <div *ngIf="paraRegistroLibro">
                    <input
                      matInput
                      formControlName="fechaEmision"
                      [matDatepicker]="fechaEmision"
                      readonly
                      [max]="dateNow"
                      placeholder="Seleccione"
                      autocomplete="off"
                      (dateChange)="oficinaEncontrada()"
                    />
                  </div>
                  <div *ngIf="!paraRegistroLibro">
                    <input
                      matInput
                      formControlName="fechaEmision"
                      [matDatepicker]="fechaEmision"
                      readonly
                      [max]="dateNow"
                      placeholder="Seleccione"
                      autocomplete="off"
                    />
                  </div>

                  <mat-datepicker-toggle matSuffix [for]="fechaEmision">
                    <mat-icon
                      matDatepickerToggleIcon
                      fontSet="fas"
                      fontIcon="fa-calendar-day"
                      class="clean-button"
                    ></mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #fechaEmision
                    disabled="false"
                  ></mat-datepicker>
                  <mat-error *ngIf="form.get('fechaEmision')?.invalid">{{
                    utilService.getErrorMessage(form, "fechaEmision")
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <ng-container *ngIf="paraSeguimiento">
              <div class="row">
                <div class="col-sm-12 col-md-4 mb-2">
                  <label>Número de Solicitud:</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input
                      matInput
                      formControlName="numeroSolicitud"
                      placeholder="Ingresar"
                      autocomplete="off"
                      (input)="onInput($event, 12)"
                    />

                    <mat-error *ngIf="form.get('numeroSolicitud')?.invalid">{{
                      utilService.getErrorMessage(
                        form,
                        "numeroSolicitud",
                        12,
                        12,
                        true
                      )
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4 mb-2">
                  <label>Rango de fechas:</label>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-date-range-input
                      [rangePicker]="picker"
                      formGroupName="dateRange"
                      [disabled]="disabledRange"
                    >
                      <input
                        matInput
                        matStartDate
                        formControlName="start"
                        placeholder="Fecha inicial"
                        readonly
                        autocomplete="off"
                        (dateChange)="changeDateRange()"
                      />
                      <input
                        matInput
                        matEndDate
                        formControlName="end"
                        placeholder="Fecha final"
                        readonly
                        autocomplete="off"
                        (dateChange)="changeDateRange()"
                      />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker-toggle
                      matSuffix
                      (click)="clearRangeDate()"
                      *ngIf="
                        this.form.get('dateRange')?.get('start')?.value ||
                        this.form.get('dateRange')?.get('end')?.value
                      "
                    >
                      <mat-icon
                        matDatepickerToggleIcon
                        fontSet="fas"
                        fontIcon="fa-times"
                      ></mat-icon>
                    </mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error
                      *ngIf="
                        form.get('dateRange')?.get('end')?.hasError('maxRange')
                      "
                    >
                      {{ rangeMaxMessage }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>

            <div class="row">
              <div class="col-12">
                <mat-hint>(*) Datos obligatorios</mat-hint>
              </div>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3" *ngIf="paraRegistroLibro">
  <div class="col-12">
    <app-datos-oficina-autorizada
      [registroLibro]="true"
      #formDatosOficinaAutorizada
    ></app-datos-oficina-autorizada>
  </div>
</div>
