<form [formGroup]="form">
  <label>{{ label }}</label>
  <mat-form-field appearance="outline" class="w-100">
    <mat-select
      formControlName="id"
      #cbo
      (selectionChange)="emit(cbo.value)"
      placeholder="Seleccione"
    >
      <mat-option *ngIf="optionSelect" [value]="">-- Seleccione --</mat-option>
      <mat-option *ngFor="let item of options" [value]="item.codigo">
        {{ item.descripcion | uppercase }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('id')?.invalid">{{
      utilService.getErrorMessage(form, "id")
    }}</mat-error>
  </mat-form-field>
</form>
