.custom-container {
  display: inline-flex;
  margin-top: 20px;
  margin-bottom: 60px;
  flex-direction: column;
  width: inherit;
}

.reporte {  // For all app
  padding-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
}
