<form [formGroup]="form">
  <label>Agencia:</label>
  <mat-form-field appearance="outline" class="w-100">
    <mat-select formControlName="idAgencia" placeholder="Seleccione">
      <mat-option [value]="">-- Seleccione --</mat-option>
      <!--          <mat-option *ngFor="let item of centrosPoblados" [value]="item.sIdUbigeo.trim()">-->
      <!--            {{item.sNombre | uppercase}}-->
      <!--          </mat-option>-->
    </mat-select>
    <mat-error *ngIf="form.get('idAgencia')?.invalid">{{utilService.getErrorMessage(form,'idAgencia')}}</mat-error>
  </mat-form-field>
</form>
