<app-heading [title]="title"></app-heading>

<div class="row mt-3 custom-padding-bottom">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <h3>Parámetros</h3>
          </div>
        </div>

        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <app-options
                #cboEstadoSolicitud
                [label]="'Estado Solicitud'"
                [options]="estadoSolicitud"
                [select]="codigoEstado"
                [optionSelect]="true"
                [todosEstados]="true"
                (selected)="setEstadoSolicitud($event)"
              ></app-options>
            </div>
            <div class="col-sm-12 col-md-3">
              <mat-label>Rango de fecha de búsqueda</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-date-range-input [rangePicker]="picker">
                  <input
                    matStartDate
                    formControlName="fechaIni"
                    placeholder="Desde"
                  />
                  <input
                    matEndDate
                    formControlName="fechaFin"
                    placeholder="Hasta"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon
                    matDatepickerToggleIcon
                    fontSet="fas"
                    fontIcon="fa-calendar-day"
                  ></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker-toggle
                  matSuffix
                  (click)="clearDate(['fechaIni', 'fechaFin'])"
                  *ngIf="
                    form.controls['fechaIni']?.value ||
                    form.controls['fechaFin']?.value
                  "
                >
                  <mat-icon
                    matDatepickerToggleIcon
                    fontSet="fas"
                    fontIcon="fa-times"
                  ></mat-icon>
                </mat-datepicker-toggle>
                <mat-date-range-picker
                  #picker
                  color="accent"
                ></mat-date-range-picker>

                <mat-error *ngIf="form.get('fechaIni')?.invalid">{{
                  utilService.getErrorMessage(form, "fechaIni")
                }}</mat-error>
                <mat-error *ngIf="form.get('fechaFin')?.invalid">{{
                  utilService.getErrorMessage(form, "fechaFin")
                }}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-3">
              <app-options
                #cboTipoRegistro
                [label]="'Tipo de Solicitud'"
                [options]="tipoRegistro"
                [optionSelect]="!esAnalista()"
                [select]="''"
                (selected)="setTipoRegistro($event)"
              ></app-options>
            </div>
            <div class="col-sm-12 col-md-3">
              <app-options
                #cboAnalista
                [label]="'Analista Asignado'"
                [options]="analistas"
                [optionSelect]="!esAnalista()"
                [select]="esAnalista() ? user!.dni : ''"
                (selected)="setAnalista($event)"
              ></app-options>
            </div>
          </div>
          <!-- SELECION DE OFICINA -->
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <app-ubigeo
                [type]="'DEP'"
                [reset]="resetDep"
                (ubigeoSelected)="getDep($event)"
              ></app-ubigeo>
            </div>
            <div class="col-sm-12 col-md-3">
              <app-ubigeo
                [type]="'PRO'"
                [idDepartamento]="form.controls['codigoDepartamento'].value"
                (ubigeoSelected)="getPro($event)"
              ></app-ubigeo>
            </div>
            <div class="col-sm-12 col-md-3">
              <app-ubigeo
                [type]="'DIS'"
                [idDepartamento]="form.controls['codigoDepartamento'].value"
                [idProvincia]="form.controls['codigoProvincia'].value"
                (ubigeoSelected)="getDis($event)"
              ></app-ubigeo>
            </div>
            <div class="col-sm-12 col-md-3">
              <app-oficina-autorizada
                #cboOficinaAutorizada
                [idDepartamento]="form.controls['codigoDepartamento'].value"
                [idProvincia]="form.controls['codigoProvincia'].value"
                [idDistrito]="form.controls['codigoDistrito'].value"
                (oficinaOrecSelected)="getOficinaAutorizada($event)"
              ></app-oficina-autorizada>
            </div>
          </div>
          <!-- Datos del solicitante -->
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <label>DNI Solicitante</label>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  formControlName="dniSolicitante"
                  placeholder="Ingrese"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
        <ng-container *ngIf="length >= 0">
          <div class="row">
            <div class="col-sm-12 col-md-12 mt-3 d-flex justify-content-end">
              <button
                mat-flat-button
                color="accent"
                class="button-custom-search"
                (click)="btnSearch()"
              >
                Generar Reporte
              </button>
              <button
                mat-flat-button
                color="accent"
                class="button-custom-search ml-2 me-2"
                (click)="exportarTodoXlsx()"
              >
                Exportar a Excel
              </button>
              <button
                mat-stroked-button
                color="accent"
                class="button-custom-search ml-2"
                (click)="btnClean()"
              >
                Limpiar
              </button>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-12">
            <h3>Resultado</h3>
          </div>
        </div>
        <ng-container *ngIf="length <= 0">
          <div class="row">
            <div class="col-12 text-center">
              <strong>{{ message }}</strong>
            </div>
          </div>
        </ng-container>
        <!-- Creando un tabla a mostrar -->
        <!-- TODO: ESPERAR A CREACION DE SERVICIO -->
        <ng-container *ngIf="length >= 1">
          <div class="row">
            <div class="col-12">
              <mat-table [dataSource]="dataResult">
                <ng-container
                  matColumnDef="nroSolicitud"
                  class="col-sm-2 col-md-3 col-lg-4"
                >
                  <mat-header-cell *matHeaderCellDef>
                    N° Solicitud
                  </mat-header-cell>

                  <mat-cell *matCellDef="let element">
                    {{ element?.numeroSolicitud }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaRegistro">
                  <mat-header-cell *matHeaderCellDef>
                    Fecha Trámite
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.fechaSolicitud }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipoRegistro">
                  <mat-header-cell *matHeaderCellDef>
                    Tipo <br />Solicitud
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.tipoRegistro }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="oficinaAutorizada">
                  <mat-header-cell *matHeaderCellDef>
                    Oficina Autorizada
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.oficinaAutorizada }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="solicitante">
                  <mat-header-cell *matHeaderCellDef>
                    Solicitante
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.dniSolicitante }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaRecepcion">
                  <mat-header-cell *matHeaderCellDef>
                    Fecha Recepción
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.fechaRecepcion }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaAsignacion">
                  <mat-header-cell *matHeaderCellDef>
                    Fecha Asignación
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.fechaAsignacion }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaAtencion">
                  <mat-header-cell *matHeaderCellDef>
                    Fecha Atención
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.fechaAtencion }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="analistaAsignado">
                  <mat-header-cell *matHeaderCellDef>
                    Analista Asignado
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.analistaAsignado }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="docAtencion">
                  <mat-header-cell *matHeaderCellDef>
                    Doc.Atención
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button
                      mat-flat-button
                      color="accent"
                      class="button-custom-search"
                      (click)="btnDoc(element)"
                    >
                      Ver
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef class="mat-column-estado">
                    Estado
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element?.estadoSolicitud }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="detalleSolicitud">
                  <mat-header-cell *matHeaderCellDef>
                    Detalle Solicitud
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button
                      tabindex="-1"
                      mat-icon-button
                      color="accent"
                      title="Ver Detalle"
                      (click)="btnView(element)"
                    >
                      <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
                      <span class="text-button-table">Ver Detalle</span>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [ngStyle]="getRowStyles(row)"
                ></mat-row>
              </mat-table>
              <mat-paginator
                [pageSizeOptions]="[10, 20, 50, 100, 150]"
                [length]="busquedaOut.totalElements"
                [pageSize]="busquedaIn.size"
                [pageIndex]="busquedaOut.page"
                (page)="getListaBusqueda($event)"
                showFirstLastButtons
              >
              </mat-paginator>
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
