a {
  text-decoration: none;
}

.direct-access {
  display: inline-flex;
  margin-right: 15px;
}

.direct-access-front {
  display: flex;
  width: 250px;
  height: 220px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  align-items: center;
  justify-content: center;
}
.direct-access-front .mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 96px;
    height: 96px;
    margin-bottom: 15px;
  }
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #EA5932;
  }
}

.direct-access-back {
  position: absolute;
  width: 250px;
  height: 220px;
  background: #EA5932;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  margin-top: 15px;
}
