<mat-card>
  <mat-card-title>
    {{ dataDialog.title }}
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="content">
      <ng-container *ngIf="dataDialog.files.length > 0">
        <div class="row">
          <div class="col-sm-12 col-md-2">Formato</div>
        </div>
        <div class="row mb-2" *ngFor="let file of dataDialog.files">
          <div class="col-sm-12 col-md-6">
            <div class="custom-cell">{{ file.tipoArchivo }}</div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="custom-cell">
              <a
                href="javascript:void(0);"
                (click)="download(file.codigo, file.nombreOriginal)"
                >{{ file.nombreOriginal }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button tabindex="-1" mat-flat-button color="accent" (click)="cancel()">
      Cerrar
    </button>
  </mat-card-actions>
</mat-card>
