$palette-primary: (
  50 : #e0e7ec,
  100 : #b3c2cf,
  200 : #8099af,
  300 : #4d708e,
  400 : #265276,
  500 : #00335e,
  600 : #002e56,
  700 : #00274c,
  800 : #002042,
  900 : #001431,
  A100 : #6995ff,
  A200 : #3671ff,
  A400 : #034dff,
  A700 : #0044e9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$palette-secondary: (
  50 : #fcebe6,
  100 : #f9cdc2,
  200 : #f5ac99,
  300 : #f08b70,
  400 : #ed7251,
  500 : #ea5932,
  600 : #e7512d,
  700 : #e44826,
  800 : #e13e1f,
  900 : #db2e13,
  A100 : #ffffff,
  A200 : #ffdbd7,
  A400 : #ffaea4,
  A700 : #ff978b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-auxiliar: (
  50 : #e7eef5,
  100 : #c3d4e7,
  200 : #9bb7d7,
  300 : #729ac7,
  400 : #5484bb,
  500 : #366eaf,
  600 : #3066a8,
  700 : #295b9f,
  800 : #225196,
  900 : #163f86,
  A100 : #bcd2ff,
  A200 : #89b0ff,
  A400 : #568eff,
  A700 : #3c7dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
