<mat-card>
  <mat-card-content>
    <div class="left">
      <p>Datos de la Oficina Autorizada</p>
    </div>
    <div class="right">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-2">
            <app-ubigeo
              [type]="'DEP'"
              [required]="true"
              [encontrado]="registroLibro"
              [departamentoEncontrado]="departamento"
              (ubigeoSelected)="getDep($event)"
            ></app-ubigeo>
          </div>
          <div class="col-sm-12 col-md-4 mb-2">
            <app-ubigeo
              [type]="'PRO'"
              [encontrado]="registroLibro"
              [departamentoEncontrado]="departamento"
              [provinciaEncontrado]="provincia"
              [idDepartamento]="form.controls['ubigeoDepartamento'].value"
              (ubigeoSelected)="getPro($event)"
            ></app-ubigeo>
          </div>
          <div class="col-sm-12 col-md-4 mb-2">
            <app-ubigeo
              [type]="'DIS'"
              [encontrado]="registroLibro"
              [departamentoEncontrado]="departamento"
              [provinciaEncontrado]="provincia"
              [distritoEncontrado]="distrito"
              [idDepartamento]="form.controls['ubigeoDepartamento'].value"
              [idProvincia]="form.controls['ubigeoProvincia'].value"
              (ubigeoSelected)="getDis($event)"
            ></app-ubigeo>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4 mb-2">
            <app-centro-problado
              [encontrado]="registroLibro"
              [exComunidadNativa]="exCentroPoblado"
              #cboCentroPoblado
              [departamentoEncontrado]="departamento"
              [provinciaEncontrado]="provincia"
              [distritoEncontrado]="distrito"
              [centroEncontrado]="centroPoblado"
              [idDepartamento]="form.controls['ubigeoDepartamento'].value"
              [idProvincia]="form.controls['ubigeoProvincia'].value"
              [idDistrito]="form.controls['ubigeoDistrito'].value"
              (ubigeoSelected)="getCentroPoblado($event)"
              (selected)="existsCentroPoblado($event)"
            ></app-centro-problado>
          </div>
          <div class="col-sm-12 col-md-8 mb-2">
            <app-oficina-autorizada
              [encontrado]="registroLibro"
              [exUnidad]="exOfa"
              #cboOficinaAutorizada
              [required]="true"
              [departamentoEncontrado]="departamento"
              [provinciaEncontrado]="provincia"
              [distritoEncontrado]="distrito"
              [centroEncontrado]="centroPoblado"
              [oficinaEncontrado]="ofiAutorizada"
              [idDepartamento]="form.controls['ubigeoDepartamento'].value"
              [idProvincia]="form.controls['ubigeoProvincia'].value"
              [idDistrito]="form.controls['ubigeoDistrito'].value"
              [idCentroPoblado]="form.controls['centroPoblado'].value"
              [idComunidadNativa]="form.controls['comunidadNativa'].value"
              (oficinaOrecSelected)="getOficinaAutorizada($event)"
              (selected)="existsOficinaAutorizada($event)"
            ></app-oficina-autorizada>
          </div>
        </div>
        <div class="row" *ngIf="isInternal">
          <div class="col-sm-12 col-md-4 mb-2">
            <app-comunidad-nativa
              [exCentroPoblado]="exComunidadNativa"
              [encontrado]="registroLibro"
              #cboComunidadNativa
              [departamentoEncontrado]="departamento"
              [provinciaEncontrado]="provincia"
              [distritoEncontrado]="distrito"
              [centroEncontrado]="centroPoblado"
              [idDepartamento]="form.controls['ubigeoDepartamento'].value"
              [idProvincia]="form.controls['ubigeoProvincia'].value"
              [idDistrito]="form.controls['ubigeoDistrito'].value"
              (ubigeoSelected)="getComunidadNativa($event)"
              (selected)="existsComunidadNativa($event)"
            ></app-comunidad-nativa>
          </div>
          <div class="col-sm-12 col-md-4 mb-2">
            <app-unidad-organica
              [encontrado]="registroLibro"
              [exOfa]="exComunidadNativa"
              [departamentoEncontrado]="departamento"
              [provinciaEncontrado]="provincia"
              [distritoEncontrado]="distrito"
              [centroEncontrado]="centroPoblado"
              [idDepartamento]="form.controls['ubigeoDepartamento'].value"
              [idProvincia]="form.controls['ubigeoProvincia'].value"
              [idDistrito]="form.controls['ubigeoDistrito'].value"
              (ubigeoSelected)="getUnidadOrganica($event)"
              (selected)="existsUnidadOrganica($event)"
            ></app-unidad-organica>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-hint>(*) Datos obligatorios</mat-hint>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
