<app-validacion-datos #formValidacionDatos></app-validacion-datos>

<div class="row mb-3">
  <div class="col-12">
    <app-datos-oficina-autorizada
      #formDatosOficinaAutorizada
    ></app-datos-oficina-autorizada>
  </div>
</div>

<div class="row">
  <app-recaptcha (resolveEvent)="resolveCaptcha($event)"></app-recaptcha>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button tabindex="-1" mat-stroked-button color="accent" (click)="back()">
      Regresar
    </button>
    <button
      tabindex="-1"
      mat-flat-button
      color="accent"
      (click)="start()"
      [disabled]="!noSoyRobot"
    >
      Iniciar
    </button>
  </div>
</div>
